/**
*
*
*
*
*
*
*
*
*/

/* apply a natural box layout model to all elements */
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

body {
	background-image: url('../img/tiny_grid.png');
	font-family: 'Cabin', 'Open Sans', sans-serif;
 	color: #474747;
 	font-weight: normal;
}

.mvcChart {
 	position: relative;
 	float: left;
 	/*display: block;*/
 	margin: 0;
 	margin-left: -8px;
 	/*margin-top: 120px;*/
 	margin-bottom: 20px;
 	/*width: 840px;*/
}

.base {
 	font-family: 'Cabin', 'Ropa Sans', "Helvetica Neue", Helvetica, sans-serif;
 	font-size: 14px;
 	fill: #474747;
 	font-weight: normal;
}




.axis path, .axis line {
	fill: none;
	stroke: #aaa;
	shape-rendering: crispEdges;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 2.0px;
}

.x.axis path {
	/*stroke: none;*/
}

.y.axis path {
	stroke: none;
}

.area {
	fill-opacity: 1.0;
}

.stacked.area {
	fill-opacity: 1.0;
}




.figure-desc {
	font-style: italic;
}



.brush .axis path{ 
	stroke-opacity: 0;
}
.brush .axis line{ 
	stroke: #000;
	stroke-opacity: .1;
}
 
.brush .bars .background { 
	fill: rgba(0,0,0,.1);
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}
 
.brush .bars .background{
    fill: rgb(200,200,200);
    visibility: visible !important;
}



.tooltip {   
	position: absolute;           
	width: auto;   
	min-width: 120px;               
	height: 40px;                 
	padding: 4px 10px 4px 10px;         
	font-size: 14px;
	font-family: 'Cabin', 'Ropa Sans', "Helvetica Neue", Helvetica, sans-serif;
 	text-align: left;
 	color: rgb(245,245,245);           
	background-color: rgba(0,0,0,0.7);   
	border: 0;      
	border-radius: 8px;           
	pointer-events: none;         
}





/* Colors */
.g {
	stroke: rgba(0,255,0,1.0)
}

.r {
	stroke: rgba(255,0,0,0.8);
}

.k {
	stroke: rgba(0,0,0,0.8);
}

.b {
	stroke: rgba(0,0,255,0.85);
}