/**
*
*
*
*
*
*
*
*
*/

body {
	background-image: url('../img/tiny_grid.png');
}

svg {
 	font-family: 'Cabin', 'Ropa Sans', "Helvetica Neue", Helvetica, sans-serif;
 	font-size: 14px;
 	fill: #474747;
 	font-weight: normal;
}




.axis path, .axis line {
	fill: none;
	stroke: #aaa;
	shape-rendering: crispEdges;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 2.0px;
}

.x.axis path {
	/*stroke: none;*/
}

.y.axis path {
	stroke: none;
}


.brush .axis path{ 
	stroke-opacity: 0;
}
.brush .axis line{ 
	stroke: #000;
	stroke-opacity: .1;
}
 
.brush .bars .background { 
	fill: rgba(0,0,0,.1);
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}
 
.brush .bars .background{
    fill: rgb(200,200,200);
    visibility: visible !important;
}






/* Colors */
.g {
	stroke: rgba(0,255,0,1.0)
}

.r {
	stroke: rgba(255,0,0,0.8);
}

.k {
	stroke: rgba(0,0,0,0.8);
}

.b {
	stroke: rgba(0,0,255,0.85);
}