/**
*
*
*
*
*
*
*
*
*/

svg {
 	font-family: "Helvetica Neue", Helvetica;
}




.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}








/* Colors */
.g {
	stroke: rgba(0,255,0,1.0)
}

.r {
	stroke: rgba(255,0,0,0.8);
}

.k {
	stroke: rgba(0,0,0,0.8);
}

.b {
	stroke: rgba(0,0,255,0.85);
}